<div class="container">
  <h1><%= @restaurant.name %></h1>

  <h4><%= @restaurant.category.capitalize %></h4>

  <p>
    Address: <%= @restaurant.address %>
  </p>

  <p>
    Phone number: <%= @restaurant.phone_number %>
  </p>

  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

</div>

<div class="container">
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
        Rating: <%= review.rating %>
        Details: <%= review.content %>
      </li>
    <% end %>

  </ul>
</div>
